.pageForm_login,
.pageForm_sign-up {
  background: var(--main-bg-grey);
}

.formLogin,
.formSignUp {
  width: var(--main-content-width);
  height: 100vh;
  margin: 0 auto;
  padding-top: 110px;
}

.formLogin_label,
.formSignUp_label {
  color: #fff;
}

.formLogin_loader,
.formSingUp_loader {
  background: var(--main-bg-grey);
  height: 100vh;
}

.signUp_btn {
  display: flex;
  justify-content: space-between;
}

.logoutBtn {
  background: transparent;
  border: transparent;
}

.errorMessage_password {
  border-bottom: 1px solid #d1b0b0;
  color: #f57c7c;
  transform: translateY(-20px);
}

.hidden {
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.show {
  height: 30px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 1000ms ease-out;
  opacity: 1;
}
