.commentsComponent {
  background: var(--main-bg-grey);
  min-height: 100vh;
}

.commentsComponent_wrap {
  width: var(--main-content-width);
  margin: 0 auto;
  padding: 50px 0;
}

.commentsComponent_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.commentsComponent_title {
  color: #b6b6b6;
  text-align: center;
}

.commentsComponent_todo-name {
  font-style: italic;
}

.commentsComponent_title-h3 {
  color: #b6b6b6;
}

.commentCard:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.commentCard,
.commentsComponent_loader {
  border: 1px solid #fff;
  background: #5556;
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 5px;
}

.commentCard_description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.commentCard_description-text {
  color: #888;
}

.commentCard_description-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 8px 5px;
}

.commentRemove_btn {
  border: none;
  background: transparent;
  line-height: 0;
}

.commentRemove_img {
  width: 20px;
  height: 20px;
}

.commentCard_date-created {
  color: #888;
  font-style: italic;
  padding-top: 30px;
  margin: 0;
}

.commentsComponent_loader {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
