@import "./authorization.css";
@import "./todoApp.css";
@import "./comments.css";
@import "./permission.css";
@import "./ticToe.css";

:root {
  --main-bg-grey: #333;
  --main-content-width: 70%;
}

.mainPage,
.formLogin_loader,
.completedTodo_loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPage,
.appsPage {
  background: var(--main-bg-grey);
  height: 100vh;
}

.mainPage_login,
.mainPage_sing-up {
  margin: 0 10px;
  width: 120px;
}

.appsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appsPage_title {
  color: #fff;
  font-size: 30px;
}

.appsPage_links {
  margin-top: 15px;
}

.link_todoApp,
.link_ticToe {
  margin: 0 15px;
}

.editableInput {
  color: #00eeff8c;
  background: #404040;
  border: none;
  outline: 0;
  width: 98%;
}
