@import "./authorization.css";
@import "./todoApp.css";
@import "./comments.css";
@import "./permission.css";

:root {
  --main-bg-grey: #333;
  --main-content-width: 70%;
}

.mainPage,
.formLogin_loader,
.completedTodo_loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPage {
  background: var(--main-bg-grey);
  height: 100vh;
}

.mainPage_login,
.mainPage_sing-up {
  margin: 0 10px;
  width: 120px;
}

.editableInput {
  color: #00eeff8c;
  background: #404040;
  border: none;
  outline: 0;
  border-bottom: 1px solid #ed696975; 
  width: 98%;
}
