.todoApp {
  background: var(--main-bg-grey);
  min-height: 100vh;
  position: relative;
}

.permissionBtn {
  position: absolute;
  top: 76px;
  right: 50px;
  width: 60px;
  border: none;
  background: transparent;
}

.permissionImg {
  width: 100%;
  height: 100%;
}

.todoApp_wrap {
  width: var(--main-content-width);
  margin: 0 auto;
  padding: 50px 0;
}

.todoApp_loader {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.todoApp_displayTodo {
  min-height: 400px;
  border: 1px solid #ffffff2e;
  background: #464646ab;
}

.inputTodo_label {
  color: #fff;
}

.displayTodo_list {
  padding: 60px 40px 0;
  margin: 0;
}

.displayTodo_wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.displayTodo_loader {
  margin-bottom: 30px;
}

.displayTodo_wrap:last-child {
  margin-bottom: 50px;
}

.completedTodo_loader {
  margin-right: 18px;
  margin-left: 4px;
  width: 15px;
  height: 15px;
}

.completedCheckbox {
  width: 30px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.inputCheckbox {
  width: 15px;
  height: 15px;
}

.loaderTodoItem {
  width: 100%;
  display: flex;
  align-items: center;
  height: 26px;
}

.formTodoItem {
  width: 100%;
}

.todoItem {
  width: 100%;
  background: #404040;
  list-style: none;
  color: #fff;
  border: none;
  outline: none;
}

.commentsCount_loader {
  width: 30px;
  height: 30px;
}

.commentsCount {
  border-radius: 50%;
  background: #6c757d;
  width: 38px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  user-select: none;
}

.showComments {
  width: 45px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  background: transparent;
  align-items: center;
}

.showComments_img {
  width: 100%;
  height: 100%;
}

.showComments_is {
  border: 2px solid #6bd15a;
}

.btnRemove_loader {
  width: 23px;
  height: 23px;
}

.btnRemove {
  width: 30px;
  height: 30px;
  border: none;
  color: #ffffff3b;
  background: transparent;
  padding: 0;
}

.btnRemove_img {
  width: 100%;
  height: 100%;
}

.todoDisplayButtons {
  margin-top: 30px;
}

.todoCountDisplay {
  width: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_span {
  color: #fff;
  margin-left: 10px;
}
